body {
	margin: 0;
	padding: 0;
	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 13px;
	line-height: 24px;
	font-weight: 400;
	font-style: normal;
	background-color: #ffffff;
	color: #000000;
}

a {
	text-decoration: none;
	cursor: pointer;
}

p {
	font-family: "PTSans", "Arial", sans-serif;
	font-size: 13px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.85;
	letter-spacing: normal;
	text-align: left;
	color: #000000;
}

h2 {
	font-family: "Cuprum", "Arial", sans-serif;
	font-size: 30px;
	text-align: left;
	text-transform: uppercase;
	color: #000000;
}

ul {
	list-style: none;
}

.button {
	font-family: "Cuprum", "Arial", sans-serif;
	font-size: 14px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 18px;
	letter-spacing: normal;
	text-align: center;
	color: white;
	background-color: #ee3643;
	text-transform: uppercase;
}

.button:hover,
.button:focus {
	background-color: #ca2c37;
}

.button:active {
	background-color: #ba2732;
}

.button-category {
	width: 135px;
	height: 38px;
	font-family: "Cuprum", "Arial", sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	color: #ffffff;
	line-height: 18px;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	display: inline-block;
	background-color: rgba(0, 0, 0, 0.1);
}

.button-category:hover,
.button-category:focus {
	background-color: rgba(0, 0, 0, 0.2);
}

.button-category:active {
	background-color:rgba(0, 0, 0, 0.3);
}

.header-up {
	font-family: "Cuprum", "Arial", sans-serif;
	font-size: 17px;
	text-align: left;
	line-height: 18px;
	background-color: #293449;
}

.logo {
  width: 220px;
  height: 47px;
  box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
  background-color: #ee3643;
}

.logo:hover,
.logo:focus{
	box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
	background-color: #ca2c37;
}

.logo:active {
	box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
  background-color: #ba2732;
}

.logo-footer {
	width: 220px;
  height: 68px;
  box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
  background-color: #ee3643;
}

.adress-footer {
	font-family: "Cuprum", "Arial", sans-serif;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 24px;
  letter-spacing: normal;
  text-align: left;
  color: #f1f5f7;
}

.adress-footer a{
	color: inherit;
}

.footer-navigaition {
	width: 69px;
  height: 13px;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  text-align: left;
  color: #f1f5f7;
}

.footer-navigaition a {
	color: inherit;
}

.footer-navigaition a:focus,
.footer-navigaition a:hover {
	text-decoration: underline;
}

.footer-navigaition a:active {
	color: rgba(241, 245, 247, 0.5);
	text-decoration: none;
}

.footer-navigation-item {
	width: 79px;
  height: 17px;
	margin: auto; /*пока не размечено на странице, чтобы было видно*/
  font-family: "Cuprum", "Arial" sans-serif;
  font-size: 18px;
  line-height: 24px;
  text-align: left;
  color: #ffd180;
}

.footer-navigation-item a{
	color: inherit;
}

.footer-navigation-item a:hover,
.footer-navigation-item a:focus {
	text-decoration: overline;
}

.footer-navigation-item a:active {
	color: rgba(255, 209, 128, 0.5);
	text-decoration: none;
}

.header-down {
	background-color: #f4f7f9;
}

.footer-up {
	background-color: #32425c;
}

.footer-down {
	background-color: #293449;
}

.service-back {
	background-color: #f4f7f9;
}

.service-background {
	background-color: #f4f7f9;
}

.phone {
	width: 270px;
	height: 45px;
	border: 3px solid white;
	font-family: "Cuprum", "Arial", sans-serif;
	font-size: 21px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 1;
	letter-spacing: 0.42px;
	text-align: left;
	color: #e9292a;
	background-color: transparent;
}


/* Не получается пока, нужно подумать
.phone::before{
  content:"";
  position: absolute;
  width: 19px;
  height: 19px;
  padding-left: 10px;
  padding-top:10px;
  background-image: url("../img/svg-technomart/icon-phone.svg");
  background-repeat: no-repeat;
}
*/

.main-navigation {
	font-family: "Cuprum", "Arial", sans-serif;
	font-size: 17px;
	line-height: 17px;
	text-align: left;
	background-color: #32425c;
}

.site-navigation a {
	color: #ffffff;
}

.site-navigation a:hover,
.site-navigation a:focus {
	background-color: #293449;
}

.site-navigation a:active {
	background-color: #1d2739;
	color: rgba(255, 255, 255, 0.5);
}

.store-description {
	width: 196px;
  height: 60px;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-style: italic;
  font-stretch: normal;
  line-height: 23px;
  letter-spacing: normal;
  text-align: left;
  color: #ee3643;
}

.adress {
  width: 250px;
  height: 13px;
  font-family: Cuprum;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 24px;
  letter-spacing: normal;
  text-align: center;
  color: #32425c;
}

.category {
	width: 300px;
	height: 123px;
	font-family: "Cuprum", "Arial", sans-serif;
	font-size: 24px;
	font-weight: bold;
	line-height: 30px;
	text-align: left;
	color: #ffffff;
}

.category:nth-child(1) {
	background-color: #ffbf47;
}

.category:nth-child(2) {
	background-color: #3bbce3;
}

.category:nth-child(3) {
	background-color: #dc91d8;
}

.category:nth-child(5) {
	background-color: #8ed78f;
}

.category:nth-child(6) {
	background-color: #ffc047;
}

.popular span {
	font-family: "Cuprum", "Arial", sans-serif;
	font-size: 30px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 30px;
	letter-spacing: normal;
	text-align: left;
	color: #32425c;
	text-transform: uppercase;
}

.buy {
  width: 135px;
  height: 38px;
	font-family: "Cuprum", "Arial", sans-serif;
	font-size: 14px;
	text-align: center;
	line-height: 18px;
	color: #ffffff;
  box-shadow: inset 0px -3px 0 0 #367315;
  background-color: #63a63e;
	text-transform: uppercase;
}

.buy:hover,
.buy:focus {
	box-shadow: inset 0px -3px 0 0 #367315;
  background-color: #5fbb2d;
}

.buy:active {
	background-color: #518534;
}

.in-bookmark {
  width: 135px;
  height: 38px;
	font-family: "Cuprum", "Arial", sans-serif;
	font-size: 14px;
	text-align: center;
	line-height: 18px;
  border: 3px solid #63a63e;
	color: #32425c;
  background-color: transparent;
	text-transform: uppercase;
}

.in-bookmark:hover,
.in-bookmark:focus {
  border: 3px solid #32425c;
}
.in-bookmark:active {
  color: rgba(50, 66, 92, 0.3);
	border: 3px solid rgba(50, 66, 92, 0.3);
}

.btn {
	width: 141px;
  height: 38px;
  object-fit: contain;
	background-color: transparent;
	background-image: url(../img/svg-technomart/red-button.svg);
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect (0 0 0 0);
	overflow: hidden;
}
