body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  font-style: normal;

  background-color: #ffffff;
  color: #000000;
}

a {
  text-decoration: none;
}

p {
  font-family: "PTSans", "Arial", sans-serif;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.85;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}

h2 {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 30px;
  text-align: left;
  text-transform: uppercase;
  color: #000000;
}

.button {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 18px;
  letter-spacing: normal;
  text-align: center;
  color: white;
  background-color: #ee3643;
}

.button:hover,
.button:focus{
  background-color: #ca2c37;
}

.button:active {
  background-color: #ba2732;
}

.button-category {
  width: 135px;
  height: 38px;
  font-family: "Cuprum", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #ffffff;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  display: inline-block;
  background-color: #e6e6e6;
}

.button-category:hover,
.button-category:focus{
  background-color: #cdcdcd;
}

.button-category:active {
  background-color: #b3b3b3;
}

.header-up{
  background-color: #293449;
}

.header-down{
  background-color: #f4f7f9;
}

.footer-up{
  background-color: #32425c;
}

.footer-down{
  background-color: #293449;
}

.service-back {
  background-color: #f4f7f9;
}

.service-background{
  background-color: #f4f7f9;
}

.phone{
  width: 270px;
  height: 45px;
  border: 3px solid white;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 21px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: 0.42px;
  text-align: left;
  color: #e9292a;
}
/* Не получается пока, нужно подумать
.phone::before{
  content:"";
  position: absolute;
  width: 19px;
  height: 19px;
  padding-left: 10px;
  padding-top:10px;
  background-image: url("../img/svg-technomart/icon-phone.svg");
  background-repeat: no-repeat;
}
*/
.visually-hidden {
position: absolute;
width: 1px;
height: 1px;
margin: -1px;
border: 0;
padding: 0;
clip: rect (0 0 0 0);
overflow: hidden;
}
